/* section{
	height: 90%;
} */

.heading{
	font-size: 3.2rem;
	margin-bottom: 10px;
}

/* Mobile Optimization */
@media (max-width: 920px) {
	.heading{
		font-size: 2.3rem;
	}
}

/* CSS for the Swipe TextSpan Element */
.sw{
	font-size: 1rem;
	/* color: rgb(126, 126, 126); */
	font-weight: lighter;
	display: none;
}

/* Desktop Specific */
@media(min-width:920px) {
	/* Controlls the Width */
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background:transparent; 
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: rgba(15, 15, 15, 0.479); 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555; 
	}
}