html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow-y: hidden;
	box-sizing: border-box;
	overflow-x: hidden;
	transition: 0.3s ease;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-display: swap;
}